@{
    ViewData["Title"] = "Help Page";
}

<br/><br/>

<div class="intro" style="margin-bottom: 20px;">
  <h2 class="text-center" style="margin-bottom: 10px;">Frequently Asked Questions</h2>
</div>
<br/><br/>

<div class="intro" style="margin-bottom: 20px;">
  <h4 align="left" style="margin-bottom: 10px;">General questions</h4>
</div>
<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          What are the main features of this platform?
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        On this platform you can view recipes information, get help in recipe preparation, book menus and get the list of ingredients to buy, choose favorite and unwanted ingredients and get suggestions for cooking recipes.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          How do I use voice control?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Just press the "Start recognization" button after start the recipe.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Where can I use discount codes?
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
        In any supermarket that sells Milaneza products.
      </div>
    </div>
  </div>
</div>

<br/><br/>

<div class="intro" style="margin-bottom: 20px;">
  <h4 align="left" style="margin-bottom: 10px;">Recipes</h4>
</div>
<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Can other users see the difficulties I had when cooking the recipe?
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        No. Only you can see your difficulties.
      </div>
    </div>
  </div>
</div>


<br/><br/><br/>
