@{
    ViewData["Title"] = "Home Page";
}

<div class="highlight-phone" style="height: 320px;">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="intro">
                    <h2>The Best Cooking Assistant</h2>
                    <p>ACE it simplifies life in the kitchen. Discover the advantages of having a friendly, voice-controlled assistant to help you with cooking.</p><a class="btn btn-primary" role="button" asp-area="Identity" asp-page="/Account/Register" style="background-color: rgb(40, 167, 69);">REGISTER NOW</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="d-none d-md-block iphone-mockup">
                    <img src="/img/iphone.svg" class="device" style="width: 250px;">
                    <div class="screen" style="background-image: url(&quot;/img/welcomescreen.png&quot;); background-position: 50% 0%; background-size: contain; width: 222px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="features-boxed">
    <div class="container">
        <div class="intro" style="margin-bottom: 20px;">
            <h2 class="text-center" style="margin-bottom: 10px;">Features </h2>
        </div>
        <p class="text-center" style="margin-bottom: 40px;">
            ACE it works as a cooking assistant, with a few extra flourishes, like a friendly little tool to keep you company on the small reflective screen of your phone, tablet or computer. That screen will show you techniques and videos as well as
            the typical recipe instructions over voice. After all, you’ll probably want to know how to properly cut open an avocado before swinging your knife straight into it.
        </p>
        <div class="row justify-content-center features" style="padding: 0;">
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box" style="height: 400px;">
                    <i class="fa fa-cutlery icon"></i>
                    <h3 class="name">
                        <strong>Always there for you</strong>
                    </h3>
                    <p class="description">Presents and explains the recipe, guiding you through several steps and instrucions. In some cases the software even shows some helpful videos and websites with relevant information.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box" style="height: 400px;">
                    <i class="fa fa-book icon"></i>
                    <h3 class="name">
                        <strong>Guidance</strong>
                    </h3>
                    <p class="description">Helps you select what he wants to do, showing him how to do it - revealing the recipe, how to prepare it, ingredients to use and nutritional information.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box" style="height: 400px;">
                    <i class="fa fa-list-alt icon"></i>
                    <h3 class="name">Customizable </h3>
                    <p class="description">It allows you to set an initial configuration for the system, letting them choose what they usually want cooking and the type of ingredients they want to use.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box" style="height: 400px;">
                    <i class="fa fa-calendar icon"></i>
                    <h3 class="name">Planning</h3>
                    <p class="description">Allows the creation of a weekly menu, preparing the list of necessary ingredients for each meal, generating when required a general shopping list for a given week.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box" style="height: 400px;">
                    <img src="/img/83af32b2-78fa-4f23-b847-0394b765bbb1.png" style="margin-bottom: 20%; margin-top: 20%;">
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box" style="height: 400px;">
                    <i class="fa fa-map-marker icon"></i>
                    <h3 class="name"><br> Buying Ingredients<br> <br></h3>
                    <p class="description">In case you do not have the necessary ingredients to make the recipe, the system will tell you where you can find and buy them.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="testimonials-clean">
    <div class="container" style="padding-bottom: 50px;">
        <div class="intro">
            <h2 class="text-center">Testimonials </h2>
            <p class="text-center">Our customers love us! Read what they have to say below.</p>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <p class="description" style="height: 180px;">This is a great app for finding many different things to cook. Also has great options for saving recipes. This is one of the best cooking apps I've found; they have lots of step by step how to videos, also.</p>
                </div>
                <div class="author">
                    <img class="rounded-circle" src="/img/1.jpg">
                    <h5 class="name">Ben Johnson</h5>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item" style="height: 250px;">
                <div class="box">
                    <p class="description" style="height: 180px;">This app is amazing, so many features and still so easy to use. I'm just getting back into cooking and baking, so this app is incredibly useful for me.</p>
                </div>
                <div class="author">
                    <img class="rounded-circle" src="/img/3.jpg">
                    <h5 class="name">Carl Kent</h5>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <p class="description" style="height: 180px;">
                        The app is fantastic. I've really been enjoying it. You can decide to follow very specific recipe styles like Pot Stickers or Arroz con Pollo. It's a great blend of both text and visual info, so you can see what the steps and the
                        food should look like as you go.
                    </p>
                </div>
                <div class="author">
                    <img class="rounded-circle" src="/img/2.jpg">
                    <h5 class="name">Emily Clark</h5>
                </div>
            </div>
        </div><a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary btn-block btn-lg" type="submit" style="background-color: rgb(60, 175, 87); margin-top: 40px;">Register Now</a>
    </div>
</div>