@model System.Threading.Tasks.Task<System.Collections.Generic.List<ACE_it.Models.Recipe>>

@{
    ViewBag.Title = "Interrupted Recipes";
    Layout = "_Layout";
}

<h2>Interrupted Recipes</h2>
