@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="login-clean">
    <form method="post" id="account">
        <h2 class="sr-only">@ViewData["Title"]</h2>
        <div class="illustration"><img src="/img/83af32b2-78fa-4f23-b847-0394b765bbb1.png"></div>
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <input asp-for="Input.Email" class="form-control" type="email" placeholder="Email" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input asp-for="Input.Password" class="form-control" type="password" placeholder="Password"/>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <div class="checkbox">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>

        <div class="form-group">
            <button style="background-color: rgb(60, 175, 87);" type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>

        <div class="form-group">
            <p>
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
            </p>
            <p>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new User</a>
            </p>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
