.cd-schedule .events .events-group > ul {
  position:relative;
  padding:0 5%;
  display:flex;
  overflow-x:scroll;
}

.cd-schedule .events .single-event {
  flex-shrink:0;
  float:left;
  height:150px;
  width:70%;
  max-width:300px;
}

.cd-schedule .event-modal {
  position:fixed;
  z-index:3;
  top:0;
  right:0;
  height:100%;
  width:100%;
  visibility:hidden;
  transform:translateX(100%);
  transition:transform .4s, visibility .4s;
}

.cd-schedule.modal-is-open .event-modal {
  transform:translateX(0);
  visibility:visible;
}

@media only screen and (min-width: 800px) {
  .cd-schedule .events {
    float:left;
    width:100%;
  }
}

@media only screen and (min-width: 800px) {
  .cd-schedule .events .events-group {
    width:20%;
    float:left;
  }
}

@media only screen and (min-width: 800px) {
  .cd-schedule .events .single-event {
    position:absolute;
    z-index:3;
    width:calc(100% + 2px);
    left:-1px;
  }
}
