@model Recipe

@{
    ViewData["Title"] = "Rate";

    int likes = 0, loves = 0, dislikes = 0;
    Model.UserReactedToRecipes.ForEach(ucr =>
    {
        switch (ucr.Reaction)
        {
            case Reaction.Like:
                likes++;
                break;
            case Reaction.Love:
                loves++;
                break;
            case Reaction.Dislike:
                dislikes++;
                break;
        }
    });
}

<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th style="font-weight: normal;"><i class="fa fa-heart"></i>&nbsp;@loves</th>
            <th style="font-weight: normal;"><i class="fa fa-thumbs-up"></i>&nbsp;@likes</th>
            <th style="font-weight: normal;">&nbsp;<i class="fa fa-thumbs-down"></i>&nbsp;@dislikes</th>
        </tr>
        </thead>
    </table>
</div>